* {
  box-sizing: border-box;
}

.backgroundFix {
  background-size: center;
  background-repeat: no-repeat;
  background-position: center;
}
.centered {
  display: flex;
  justify-content: center;
  align-self: center;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: whitesmoke;
  transition: var(--ease);
}

button {
  transition: var(--ease);
  cursor: pointer;
  outline: none;
  padding: 10px;
  font-size: 12px;
  /* background-color :  */
  border-radius: 5px;
  margin: 0px 20px;
}
.g-overlay {
  position: absolute;
}

.titleHeader {
  margin-top: 30px;
  margin-bottom: 15px;
}

.theme {
  @include darkTheme(true);
}
