* {
  box-sizing: border-box;
}

.backgroundFix {
  background-size: center;
  background-repeat: no-repeat;
  background-position: center;
}
.centered {
  display: flex;
  justify-content: center;
  align-self: center;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: whitesmoke;
  transition: var(--ease);
}

button {
  transition: var(--ease);
  cursor: pointer;
  outline: none;
  padding: 10px;
  font-size: 12px;
  /* background-color :  */
  border-radius: 5px;
  margin: 0px 20px;
}
.g-overlay {
  position: absolute;
}

.titleHeader {
  margin-top: 30px;
  margin-bottom: 15px;
}
.flex-sp-btw {
  display: flex;
  justify-content: space-between;
}
.iconColor {
  color: whitesmoke;
}

.themeToggler {
  position: fixed;
  right: 10px;
  top: 45%;
  padding: 5px 8px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.theme {
  @include darkTheme(true);
}
