.g-slides-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 50px;
}
.g-slides-wrapper::-webkit-scrollbar {
  display: none;
}
.g-slides-container{
  padding-right: 0;
}
.g-slides-wrapper .g-slide {
  display: inline-block;
  white-space: normal;
  margin-right: 15px;
  width: 88%;
  height: 155px;
  padding: 15px;
  border-radius: 20px;
  color: whitesmoke;
  background-size: cover;
  h3{
    font-size:15px;
    font-weight: 700;
    margin-top:25px;
    margin-bottom: 15px;
  }
  p{
    font-size:11px;
    margin-bottom: 8px;;
  }
}
